---
title: Home
layout: default
---
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">{{site.header.heading}} <span class="asset-light gradient-text">{{site.title}}</span> <span class="asset-dark gradient-text-dark">{{site.title}}</span></h1>
	                        <p class="hero-paragraph">{{site.header.description}}</p>
	                        <div class="hero-cta">
								<a class="asset-light button button-primary-light" href="{{site.baseurl}}/#products">Our Products</a>
								<a class="asset-dark button button-primary-dark" href="{{site.baseurl}}/#products">Our Products</a>
							</div>
						</div>
						<div class="hero-media">
							<div class="hero-media-illustration">
								<img class="hero-media-illustration-image asset-light" src="dist/images/hero-media-illustration-light.svg" alt="Hero media illustration">
								<img class="hero-media-illustration-image asset-dark" src="dist/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
							</div>
							<div class="hero-media-container">
								<img class="hero-media-image asset-light" src="dist/images/undraw_Birthday_cake_2wxy (1).svg" alt="Hero media">
								<img class="hero-media-image asset-dark" src="dist/images/undraw_Birthday_cake_2wxy.svg" alt="Hero media">
							</div>
						</div>
                    </div>
                </div>
            </section>

            <section id="products" class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
						<div class="features-header text-center">
							<div class="container-sm">
								<h2 class="section-title mt-0">{{site.productPage.heading}}</h2>
	                            <p class="section-paragraph">Look down for our products 👇 and order now! We are waiting 🤝.</p>
							</div>
                        </div>
                        <div class="features-wrap">
							{% for product in site.products %}
							{% include product-single.html %}
							{% endfor %}
                        </div>
                    </div>
                </div>
            </section>

			<section class="cta section">
                <div class="container-sm">
                    <div class="cta-inner section-inner">
                        <div class="cta-header text-center">
                            <h2 class="section-title mt-0">Get in <span class="asset-dark gradient-text-dark">touch</span><span class="asset-light gradient-text">touch</span> with Us!</h2>
                            <p class="section-paragraph">Message 📱 us on whatsapp or call 📞 us for more info & custom works <span class="asset-dark gradient-text-dark"><a href="tel:{{site.country-code}}{{site.phone}}">@+{{site.country-code}}-{{site.phone}}</a></span><span class="asset-light gradient-text"><a href="tel:{{site.country-code}}{{site.phone}}">@+{{site.country-code}}-{{site.phone}}</a></span>. Love you 💖</p>
						</div>
                    </div>
                </div>
            </section>
