<footer class="site-footer has-top-divider">
    <div class="container">
        <div class="site-footer-inner">
            <div class="brand footer-brand">
                <a href="#">
                    <img class="asset-light footer-logo" src="dist/images/logo-ftr-light.png" alt="Logo">
                    <img class="asset-dark footer-logo" src="dist/images/logo-dark.png" alt="Logo">
                </a>
            </div>
            <ul class="footer-links list-reset">
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">FAQ's</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
            </ul>
            <ul class="footer-social-links list-reset">
                <li>
                    <a href="asset-light https://facebook.com/Blanc">
                        <i class="ftr-icon fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <a href="asset-light https://instagram.com/blancdesigns__">
                            <i class="ftr-icon fab fa-instagram"></i>
                        </a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <a href="https://wa.me/919496659631?text=Hello">
                            <i class="ftr-icon fab fa-whatsapp"></i>
                        </a>
                    </a>
                </li>
            </ul>
            <div class="footer-copyright">&copy; 2018 Blanc Designs, all rights reserved</div>
        </div>
    </div>
</footer>