<header class="site-header">
    <div class="container">
        <div class="site-header-inner">
            <div class="brand header-brand">
                <h1 class="m-0">
                    <a href="#">
                        <img class="header-logo-image asset-light" src="dist/images/logo-light.png" alt="Logo">
                        <img class="header-logo-image asset-dark" src="dist/images/logo-dark.png" alt="Logo">
                    </a>
                </h1>
            </div>
            <div class="lights-toggle">
                <input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
                <label for="lights-toggle" class="text-xs"></label>
            </div>
        </div>
    </div>
</header>