<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.description}}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}{{site.favicon}}" type="image/x-icon">
    <!-- basic favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}{{site.favicon}}">
    <!-- Other Metadata -->
    <meta property="og:image" content="{{site.baseurl}}{{site.image}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:title" content="{{site.title}}">
    <!-- Twitter Title-->
    <meta name="twitter:title" content="{{site.title}}">
    <title>{{site.title}}</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Javascript -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>