<div class="feature is-revealing">
    <div class="product-image" style="background-image: url({{site.baseurl}}{{product.image}})">
        <span class="asset-light product-price-light">₹ {{product.price}}</span>
        <span class="asset-dark product-price-dark">₹ {{product.price}}</span>
    </div>
    <div class="feature-inner">
        <div class="product-info">
            <span class="asset-light product-title gradient-text">{{product.name | truncate: 16}}</span>
            <span class="asset-dark product-title gradient-text-dark">{{product.name | truncate: 16}}</span>
        </div>
    </div>
    <div class="whatsapp-button">
        {% include whatsapp-button.html %}
    </div>
</div>